{% extends 'main.html' %}
{% load static %}
{% block content%}



<main class="home">

<div class="container container--narrow">
            <div class="hero-section__box">
                <h2>FIND YOUR DOCUMENTS WITH <span>DMS</span></h2>
                <h2>EASILY AND QUICKLY</h2>
            </div>

            <div class="hero-section__search">

                <form id="searchForm" class="form" action="{% url 'documents' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search Documents </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search by document name" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>

            </div>
        </div>

    <div>
<button type="button" class="btn btn--sub btn--lg" > <a href="{% url 'add-document'%}"> Add document</a></button>
</div>
<table class="table table-striped">
   <thead class="thead-dark">
    <tr>

      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Author</th>
      <th scope="col">Project</th>
      <th scope="col">Created</th>
      <th scope="col">File</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
       {% for document in documents %}
    <tr>

      <td> {{document.title}} </a></td>
      <td>{{document.category}}</td>
      <td>{{document.author}}</td>
      <td>{{document.project}}</td>
      <td>{{document.created}}</td>
        <td><a href="{{document.file.url}}"> <img src=" {% static 'icons/files.png' %}" style="width: 20px;"/> </a> </td>
      <td><a href="{% url 'change-document' document.id %}"> Edit  | </a> <a href=""> Delete</a></td>

    </tr>
{% endfor %}
    <tr>

</table>
  </main>
{% endblock %}