{% extends 'main.html' %}
{% load static %}
{% block content%}

<main class="home">
<table class="table table-striped">
   <thead class="thead-dark">
    <tr>

      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Author</th>
      <th scope="col">Project</th>
      <th scope="col">Created</th>
      <th scope="col">File</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
       {% for document in documents %}
    <tr>

      <td> {{document.title}} </a></td>
      <td>{{document.category}}</td>
      <td>{{document.author}}</td>
      <td>{{document.project}}</td>
      <td>{{document.created}}</td>
        <td><a href="{{document.file.url}}"> <img src=" {% static 'icons/files.png' %}" style="width: 20px;"/> </a> </td>
      <td><a href="{% url 'change-document' document.id %}"> Edit  | </a> <a href=""> Delete</a></td>

    </tr>
{% endfor %}
    <tr>

</table>
  </main>
{% endblock %}